@model Read_do.Models.BookDetails

@{
    ViewData["Title"] = "Add to reading list";
}

@section head{
    
    <meta property="og:type" content="book" />
    <meta property="og:title" content="@Html.DisplayFor(model => model.title)" />
    <meta property="book:author" content="@Html.DisplayFor(model=>model.author)"/>
    <meta property="book:isbn" content="@Html.DisplayFor(model=>model.isbn)"/>
    <meta property="og:image" content="@Html.DisplayFor(model=>model.imageUrl)"/>
    <meta property="og:description" content="Add a book to your reading list" />
    <meta name="keywords" content="@Html.DisplayFor(model => model.title),@Html.DisplayFor(model=>model.author),@Html.DisplayFor(model=>model.isbn), reading, books"/>
    
}

<h3> 
    @ViewBag.Add
</h3>

@ViewBag.AddError
@if(Model != null){
    
     
    <div class="container" id="book_card">
        <div class="row">
            <div class="col">

              <img src="@Html.DisplayFor(model => model.imageUrl)" alt="@Html.DisplayFor(model => model.title) Cover" height="200">

            </div>
            <div class="col-7">
                <h6>
                    @Html.DisplayFor(model => model.title)
                </h6>
                <p>@Html.DisplayNameFor(model => model.author): @Html.DisplayFor(model=> model.author)</p>
                <p>@Html.DisplayNameFor(model => model.publishedYear): @Html.DisplayFor(model => model.publishedYear)</p>
                <p>@Html.DisplayNameFor(model => model.publisher): @Html.DisplayFor(model => model.publisher)</p>
                <p>@Html.DisplayNameFor(model => model.isbn): @Html.DisplayFor(model => model.isbn)</p>
 
            </div>
        </div>
    </div>     
  
}

<div class="row">
    
    
    <div class="col">
        <button type="button" onclick="location.href='@Url.Action("BrowseBooks", "UserTest")'" class="btn btn-secondary" >
              Cancel
        </button> 
    </div>
    <div class="col">
        @using (Html.BeginForm("AddToList", "UserTest", FormMethod.Post))
                    {
                        <input type="hidden" id="isbn" name="isbn" value=@Html.DisplayFor(model => model.isbn) >
                        <input class="btn btn-primary" type="submit" value="Add To List">
                    }
    </div>
</div>
