@model Reado.Models.TblUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UsrId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
