@model IEnumerable<Reado.Models.TblUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsrName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsrEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsrPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsrName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsrEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsrPassword)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsrId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UsrId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UsrId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
